/tools/__pycache__
/tools/RAG/__pycache__
/utils/__pycache__
/.env
/tools/RAG/db
/aida_chat_history.db
/apikeys.txt
/bin
/demo
/chats
/groq_models.md
/tools/WebSearch/__pycache__
/tools/WebsiteScraper/__pycache__
/notebooks
/test.py
/test_chat_history.db
/supported_models.md
/test.ipynb
/aida_v0.1.1_chat_history.db
/tools/ContentSaver/__pycache__
/output